/*Спецификация*/
@font-face {
    font-family: "BaronNeue";
    src: url("../fonts/BaronNeue.otf" );
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/*Шапка*/
.header {
    background: #1c272e;
    color: #768A97;
    font-family: "BaronNeue";
}
.title__header{
}
.title__header a {
    font-size: 30px;
    font-weight: 700;
    color: #768A97;
}
.menu {
}
.menu__item {
}
.menu__item a{
    font-size: 30px;
    font-weight: 500;
    color: #768A97;
    margin: 0px 5px;
}
/*Первый экран*/
.mainInfo{
    background-image: url("../image/mainImage.jpg");
    background-position: 50%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: "BaronNeue";
    color: #707299;
}
.title__main{
    font-size: 28px;
    width: 650px;
    margin: 0 auto;
    text-align: center;
}
.feature{
    margin-bottom: 250px;
}
.feature__item{
    padding-top: 25px;
    color: #7B7C99;
}
.feature__icon{
    font-size: 22px;
    color: #707299;
    margin-right: 5px;
    margin-top: 5px;
}
.feature__title{
    color: #707299;
    font-weight: 700;
    font-size: 20px;
}
.feature__text{
    font-size: 16px;
    font-weight: 700;
}
.contact{
    margin-top: 25px;
    margin-bottom: 200px;
    text-align: center;
}
.contact a{
    color: #707299;
    font-size: 30px;
    font-family: "BaronNeue";
}
/*Второй экран*/
.form-group {
    margin-bottom: 10px;
}
.btn-primary{
    width: 100%;
    margin-bottom: 50px;
    border-color: #1c272e;
    background-color: #1c272e;
    color: #768A97;
}
/*Медиа запросы*/
@media screen and (max-width: 991px){
    .title__header {
        text-align: center;
    }
    .feature__item{
        text-align: center;
    }
}
@media screen and (max-width: 767px){
    .title__main{
        width: 350px;
    }
}
@media screen and (max-width: 534px){
    .receiveMessage{
        padding-top: 100px;
    }
}
@media screen and (max-width: 428px){
    .receiveMessage{
        padding-top: 150px;
    }
}
@media screen and (max-width: 400px){
    .receiveMessage{
        padding-top: 250px;
    }
}
@media screen and (max-width: 350px){
    .receiveMessage{
        padding-top: 450px;
    }
}