<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ремонт МСК и МО</title>
    <link rel="stylesheet" type="text/css" href="../css/homePage.css"/>
</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="logo">
            <a href="/">ИП Строй</a>
        </div>
    </div>
    <div class="header_section">
        <div class="header_item">
            <a href="/receiveConsultation">Получить консультацию</a>
        </div>
    </div>
    <div class="header_section">
        <div class="contact">
            <p>+7(926)901-10-71</p>
            <p>vlad20900@mail.ru</p>
        </div>
    </div>
</div>
<div class="mainContainer">
    <div><h1>Ремонт жилых и нежилых помещений<br> по индивидуальному дизайн-проекту</h1></div>
    <div class="listAdvantages">
        <p>Все виды работ от одного подрядчика</p>
        <p>Подготовим дизайн-проект</p>
        <p>Фиксированная цена и сроки</p>
        <p>Любые цвета и материалы</p>
    </div>
</div>
</body>
</html>
