<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1">
    <title>Ремонт МСК и МО</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../icons/all.css"/>
    <link rel="stylesheet" type="text/css" href="../css/homePage.css"/>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row" >
                <div class="col-lg-3">
                    <div class="title__header">
                        <a href="/">ИП СТРОЙ</a>
                    </div>
                </div>
                <div class="col-lg-6 ml-auto">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a href="#">Главная</a>
                                <a href="#">Контакты</a>
                                <a href="#">О нас</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section id="mainInfo" class="mainInfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="title__main">
                            Ремонт жилых и нежилых помещений по индивидуальному дизайн-проекту
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-key feature__icon"></i>
                        <div class="feature__block">
                            <h3 class="feature__title">
                                Ремонт под ключ
                            </h3>
                            <div class="feature__text">
                                Выполним все работы, проведем согласования, избавим от необходимости тратить время на подбор, закупку и доставку строительных и чистовых материалов.
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-project-diagram feature__icon"></i>
                        <div class="feature__block">
                            <h3 class="feature__title">
                                Индивидуальный дизайн-проект
                            </h3>
                            <div class="feature__text">
                                Вы будете точно знать, какой интерьер получите: перед ремонтом мы подготовим дизайн-проект с мебелью, светом и декором.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-money-check feature__icon"></i>
                        <div class="feature__b  lock">
                            <h3 class="feature__title">
                                Фиксированная цена и сроки
                            </h3>
                            <div class="feature__text">
                                Смета на все работы и черновые материалы составляется до начала работ и остается неизменной до завершения.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-hot-tub feature__icon"></i>
                        <div class="feature__block">
                            <h3 class="feature__title">
                                Без вашего участия
                            </h3>
                            <div class="feature__text">
                                Мы берём на себя все заботы, связанные с ремонтом: от демонтажа до финальной уборки.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-balance-scale feature__icon"></i>
                        <div class="feature__block">
                            <h3 class="feature__title">
                                Единый стандарт качества
                            </h3>
                            <div class="feature__text">
                                Мы гарантируем одинаковое качество работ вне зависимости от типа ремонта и площади помещения.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="feature__item d-flex">
                        <i class="fas fa-tools feature__icon"></i>
                        <div class="feature__block">
                            <h3 class="feature__title">
                                Ремонт любой сложности
                            </h3>
                            <div class="feature__text">
                                Работаем с СРО, проводим перепланировку, соблюдаем требования ГОСТ, СНиП, другие нормы.
                            </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ml-auto">
                    <div class="contact">
                        <a href="/">Узнать стоимость<br></a>
                        <a href="tel:+79269011072">+7 (926) 901-10-72</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="receiveMessage" class="receiveMessage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="title__main">
                            Оставить заявку
                        </h2>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="email" class="form-control" id="form__email" placeholder="Введите email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="email" class="form-control" id="tel__form" placeholder="Введите телефон">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <textarea name="comment" class="form-control form__area" placeholder="Опишите вашу заявку"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary" value="Оставить заявку"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
